/*COLORS
hsl(0,0%,12.5%) BLACK
#F16144 MY ORANGE
*/

/*all*/
body{
    margin: 0;
    padding-top: 70px;
}
.prototype {
    height: 300px;
    width: auto;
    display: flex;
    margin: auto;
    position: relative;
/*    padding-left: 20%;*/
}

.hook{
    height: 400px;
    width: 100%;
    display: flex;
/*    background: hsl(0, 0%, 12.5%);*/
    position: relative;
    align-items: flex-start;
}

.slide {
    background-color: #F16144;
    display: flex;
    justify-content: space-around;
    height: 300px;
/*    align-content: center;*/
}
.slideimg{
    height: 200px;
    width: auto;
    margin-top: 50px;
}

.banimg{
    height: 80%;
/*    margin: auto;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    color: white;
/*    border-radius: 100%;*/
}
form{
    margin-left: 28%;
}
/*TYPOGRAPHY*/
h2,h3,h4,p {
    margin-left: 28%;
    margin-right: 28%;
    font-family: futura, sans-serif;
}
p {
    font-weight: 400;
    font-style: normal;
/*    text-align-last: center;*/
    line-height: 30px;
    font-size: 17px; 
    letter-spacing: .2px;
}

h1{
    font-size: 4em;
/*    text-align: center;*/
    font-weight: 900;
    font-family: futura, sans-serif;
    margin-left: 28%;
    margin-bottom: 0; 
    color: hsl(0, 0%, 12.5%);
    line-height: 1.2em;
/*    position: relative;*/
}
h1:after{
    content: '';
    display: block;
    width: 100%;
    transform:translateY(-17px);
    height: 3px;
    background-color: #F16144;
}
h2 {
    font-size: 1.8em;
/*    text-align: center;*/
    font-weight: 900;
}
h3{
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 5px;
}




/*HEADER*/
Header {
    font-family: futura, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    background-color: hsl(0, 0%, 12.5%);
    margin: 0;
    height: 75px;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.nav {
    margin: 0;
    display: inline-block;
    position: relative;
    font-size: 1.3em;
    color: white;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 24px;
    text-decoration: none;
    background: none;
    transition: background-color .3s ease-out, color .2s ease-out, transform .2s ease-out;
    bottom: 55px;
}

.nav:hover{
/*    transform: translateX(10px); */
/*    background-color: #446075;*/
/*    color: black;*/
}

.logo {
    margin-left: 50px;
    position: relative;
    display: inline-block;
    height: 0;
    transform: scale(.5);
    top: 15px;
}

/*FOOTER*/
footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: hsl(0, 0%, 12.5%);
    color: white;
    height: 900px;
    font-family: futura, sans-serif;
    font-size: .9em;
    font-weight: 100;
    padding-left: 40px;
}
footer .fcol{
    width: 30%;
}
footer p{
/*    width: 100%;*/
    font-weight: 100;
    font-size: 1em;
    line-height: 1.8em;
    margin: 0;
}
footer h4{
    font-weight: 900;
    font-size: 1.2em;
    margin-left: 0;
}
footer a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 1.8em;
transition: background-color .3s ease-out, color .2s ease-out, transform .2s ease-out;
}

footer a:hover{
/*    transform: translateX(10px); */
/*    background-color: #446075;*/
/*    color: black;*/
}

/*LINKS*/
@font-face{
    font-family: futura;
    src: url('Project 4_Portfolio Site\Futura\Futura') format('opentype');
    src: url('Project 4_Portfolio Site\Futura\Futura-bold') format('opentype');
    src: url('Project 4_Portfolio Site\Futura\Futura-book') format('opentype');
    src: url('Project 4_Portfolio Site\Futura\Futura-extrabold') format('opentype');
    src: url('Project 4_Portfolio Site\Futura\Futura-heavy') format('opentype');
    src: url('Project 4_Portfolio Site\Futura\Futura-light') format('opentype');
}

/*RESPONSIVE RULES*/
@media screen and (min-width: 1200px) {
}